.footer {
  padding: 20px 0;
  flex-shrink: 0;
  margin-bottom: -10px;
}
.footer-desc {
  text-align: center;
}
.footer-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 4px 8px;
  color: black;
  z-index: 1; /* Ekledik */
}

.footer-link::before {
  content: '';
  position: absolute;
  bottom: 0; /* 6% yerine sabit alt */
  left: 50%;
  transform: translateX(-50%) skewX(-12deg);
  z-index: -1;
  width: 110%;
  height: 40%; /* Geniş alan */
  background-color: #41d1ff;
  transition: 200ms ease;
  border-radius: 2px; /* Ekstra güzellik istersen */
}
